 

.container {
  margin: 0px auto;
  position: relative;
  /* height: 100vh; */
  padding: 0px 20px;

  }
  /* .backgroundColor{
    background-color: red;
  } */


.backgroundColor{
  background-color: rgb(211, 115, 19);
}
.nav-link {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;

}
.nav-link:hover {
  color: #23263c;
}


.homeImg img{
  width: 100%;
  position: absolute;
  z-index: 1;
  
} 